.container
	.jumbotron
		.row
			div.col-md-6(ng-repeat="signal in signals")
				.signal-container(class="signal-{{signal.status}}")
					.row
						.col-md-6
							.img-signal-container
								img(src="" ng-src="{{signal.url}}")
						.col-md-6
							p.signal-description
								div {{signal.description}}
					.row
						.col-md-12
							span Подател: {{signal.user.firstName}} {{signal.user.lastName}}
					.row
						.col-md-12
							span Подадено на: {{signal.date}}
					.row
						.col-md-12
							span(class="{{signal.status}}") Статус: {{signal.status}}