.container
	h2.text-center Всички подадени сигнали.
	.jumbotron
		.row.margin-bottom
			.col-md-6
				.col-md-4
					label.pull-right(style="padding-top:5px") Search
				.col-md-8
					input.form-control(type="text" placeholder="Търси..." ng-model="searchSignal")
			.col-md-6
				.col-md-4
					label.pull-right(style="padding-top:5px") Подреди по
				.col-md-8
					select.form-control(ng-model="sort")
						option(value=" " ng-selected="'true'") Default
						option(value="date") Дата
						option(value="-rate") Популярност
		.row
			div.col-md-6(ng-repeat="signal in signals track by $index  | orderBy: sort |filter: searchSignal")
				.signal-container(ng-click="viewMap($index)" class="signal-{{signal.status}}")
					.row
						.col-md-6
							.img-signal-container
								img(src="" ng-src="{{signal.url}}")
						.col-md-6
							.row
								.col-md-12
									h5 Описание на проблема:
							p.signal-description
								div {{signal.description}}
					div.line
					.row
						.col-md-12
							span Подател: {{signal.user.firstName}} {{signal.user.lastName}}
					.row
						.col-md-12
							span Подадено на: {{signal.date}}
					.row
						.col-md-12
							span Популярност: {{signal.rate}}
					.row
						.col-md-12
							span(class="{{signal.status}}") Статус: {{signal.status}}