html{
  height: 100% !important;
}
* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100% !important;
}
body{
  padding-top: 66px;
  background: #eaeaea;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form button {
  margin-right: 10px;
}
.toast-top-right {
  margin-top: 50px;
}
.mid-page {
  margin: 0 auto;
  max-width: 500px;
}
.mid-login {
  margin: 0 auto;
  max-width: 410px;
}
.label-login {
  margin-top: 5px;
}
.invalid-pass {
  color: #f00;
}
footer {
  padding-left: 100px;
  padding-right: 100px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.image-container img {
  width: 100%;
}
.song-li {
  color: #f00;
}
.song-li:hover {
  text-decoration: underline;
  color: #a30000;
  cursor: pointer;
}
input.ng-dirty.ng-invalid {
  border: 1px solid #f00;
}
input.ng-dirty.ng-valid {
  border: 1px solid #008000;
}
.login-input {
  max-width: 250px;
}

.logo-container{
  max-width: 70px;
}
.logo-container img{
  width: 50px;
  margin-top: 5px;
}

a.white-text{
  color: white !important;
}
a.white-text:hover{
  color: blue !important;
}
.text-center{
  text-align: center;
}
.line{
  margin-top: 10px;
  margin-bottom: 5px;
  height: 2px;
  border-bottom: 1px solid #eaeaea;
}
.padding-big{
  padding: 10px;
}
.margin-top{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.margin-right{
  margin-right: 5px;
}
label{
  margin-left: 2px;
}
.must{
  color: red;
}
.search-icon, .user-icon, .password-icon{
  
  background-size: cover;
  display: block;
  width: 25px;
  height: 20px;
}
.search-icon{
  background: url("/img/search.png") center center no-repeat;
}
.user-icon{
  background: url("/img/user.png") center center no-repeat;
}
.password-icon{
  background: url("/img/password.png") center center no-repeat;
}
.signal-img-container img{
  width: 100%;
}
.btn-login{
  margin-top: 5px;
}
.mrg{
  margin-left: -10px;
}
.flexslider-container {
  width: 50%;
  margin: 10px auto;
}
.bg-container{
  height: 500px;
  background: url("/img/bg.jpg") center center no-repeat;
  background-size: cover;
}
.title1, .title2{
  color:white;
  padding: 10px;
  vertical-align: middle;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
.title1{
  background: #3fad46;
  margin-left: 10px;
  margin-top: 50px;
}
.title2{
  background: #4582ec;
  margin-top: 280px;
  margin-right: 10px;
}
.float-right{
  float: right;
}