html{
  height: 100% !important;
}
* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100% !important;
}
body{
  padding-top: 66px;
  background: #eaeaea;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form button {
  margin-right: 10px;
}
.toast-top-right {
  margin-top: 50px;
}
.mid-page {
  margin: 0 auto;
  max-width: 500px;
}
.mid-login {
  margin: 0 auto;
  max-width: 410px;
}
.label-login {
  margin-top: 5px;
}
.invalid-pass {
  color: #f00;
}
footer {
  padding-left: 100px;
  padding-right: 100px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.image-container img {
  width: 100%;
}
.song-li {
  color: #f00;
}
.song-li:hover {
  text-decoration: underline;
  color: #a30000;
  cursor: pointer;
}
input.ng-dirty.ng-invalid {
  border: 1px solid #f00;
}
input.ng-dirty.ng-valid {
  border: 1px solid #008000;
}
.login-input {
  max-width: 250px;
}

#slides_control > div{
  height: 100%;

}
#slides_control img{
  margin:auto;
  width: 100%;

  max-height: 500px;
  max-width: 2000px;
  -webkit-filter: blur(2px); 
  -moz-filter: blur(2px); 
  -o-filter: blur(2px); 
  -ms-filter: blur(2px); 
  filter: blur(2px);
}
#slides_control {
  margin: 0 auto;
  width: 100%;
  max-height: 500px;
  max-width: 2000px;
}
a.white-text{
  color: white !important;
}
a.white-text:hover{
  color: blue !important;
}
.content-div {
text-align: center;
background: #090;
color: #fff;
width: 20%;
height: 50px;
position:absolute;
z-index:9;
}