extends includes/layout
block main-content
    header.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Заглавие
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/signal") Подай Сигнал
                    li
                        a(href="#/about") Информация
                    li
                        a(href="#/all-signals") Всички Сигнали
                div(ng-include="'partials/account/login-bar'")
    section
        div(ng-view)
    footer
        p.text-center &copy; Подай сигнал 2015