doctype
html
    head
        title Подай сигнал
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/signal.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser