div(ng-controller="InfoController")
	.container
		h3.text-center Полезна информация
		.jumbotron
			h5 АГЕНЦИЯ "ПЪТНА ИНФРАСТРУКТУРА"
			p.small-text
				| •  адрес: София 1606, бул, "Македония" №3;

				| •  е-mаil:  signali@api.bg;

				| •  официалната интернет страница на АПИ;

				| •  телефон с номер: 0800 130 10.
			p.small-text
				| Телефонът се набира без код за София от цялата страна и разговорите са безплатни. 
				| На този телефон не се приемат сигнали, незасягащи темата нередности и подозрения за измами. 
				| Обажданията се записват автоматично, подаденият сигнал се регистрира, след което започва проверка по случая. 
				| Желателно е да посочвате подробна информация за нарушенията и фактите, които са Ви известни. 
				| Това ще даде възможност за предприемане на своевременни действия и предотвратяване на евентуални корупционни прояви.

			h5 КОМИСИЯ ЗА ЗАЩИТА НА ПОТРЕБИТЕЛЯ
			p.small-text
				| Изготвяне на жалбата
				| За да бъде образувано производство по разглеждане на Вашата жалба, тя трябва да съдържа следните задължителни реквизити:
			p.small-text
				| Наименование на институцията, до която е адресирана
				| Вашите имена и адрес
				| Име и адрес на търговеца, срещу когото е жалбата
				| Вашият конкретно формулиран проблем/искане
				| Документи, удостоверяващи покупко-продажбата
			p.small-text
				h6 Изпращане на жалбата
				p.small-text Препоръчваме Ви да ползвате електронната форма, поместена на сайта. Тя ще Ви улесни да изложите по-ясно обстоятелствата по съществуващия проблем и да следвате задължителните реквизити, за да окомплектовате жалбата си според изискванията на ЗЗП. Това ще позволи по-бързата реакция на КЗП по Вашата жалба, сигнал или предложение. За изпращане на жалби чрез електронната форма на сайта вече не се изисква електронен подпис. Когато ползвате електронната форма за изпращане на Вашата жалба, разгледайте картата на България и изберете града, в който се намирате. След това следвайте стриктно указанията за попълването на полетата, като не пропускате да прикачите всички документи, свързани със спора. Жалби, сигнали и предложения до КЗП можете да изпращате и чрез официалния имейл на институцията .



			h5 КОМИСИЯ ЗА ЗАЩИТА ОТ ДИСКРИМИНАЦИЯТА
			p.small-text
				| http://www.kzd-nondiscrimination.com/layout/index.php/signali-nerednosti



			h5 Комисията за защита на личните данни
			p.small-text
				| Електронна поща: kzld@cpdp.bg

				| 4. По електронен път на имейла на КЗЛД (kzld@cpdp.bg). В този случай жалбата Ви трябва да бъде оформена като електронен документ, подписан с електронен подпис. 


			h5 Комисия за финансов надзор

			p.small-text
				| Основна мисия на институцията е да съдейства с юридически, 
				| административни и информационни средства за поддържане на стабилност и прозрачност 
				| на небанковата финансова система в България, както и да защитава интересите на инвеститорите, 
				| застрахованите и осигурените лица.
			p.small-text
				| 5. Също така можете да ни изпратите Вашата жалба по електронна поща на адрес: delovodstvo@fsc.bg



			p.small-text
				| ОТДЕЛ "ПЪТНА ПОЛИЦИЯ"-СДВР

				| гр.София, ул."Лъчезар Станчев" № 4

				| e-mail: trafficpolicesdvr@mvr.bg
