.row
    div.mid-page
        .well.margin-top
            form.form-horizontal(name="signUpForm")
                fieldset.padding-big
                    legend Присъедини се
                    .form-group
                        .row
                            label.col-md-12(for="firstName") Име
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="text" required="required" placeholder="Име" ng-model="user.firstName")
                    .form-group
                        .row
                            label.col-md-12(for="middleName") Презиме
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="text" required="required" placeholder="Презиме" ng-model="user.middleName")
                    .form-group
                        .row
                            label.col-md-12(for="lastName") Фамилия
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="text" required="required" placeholder="Фамилия" ng-model="user.lastName")
                    .form-group
                        .row
                            label.col-md-12(for="lastName") Email
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="email" required="required" placeholder="Email" ng-model="user.email")
                    .form-group
                        .row
                            label.col-md-12(for="town") Местожителство
                                span.must *
                        .row
                            .col-md-12
                                select.form-control(id="city-reg" name="city" ng-model="user.town")
                                    option(value="София") София
                                    option(value="Пловдив") Пловдив
                                    option(value="Варна") Варна
                                    option(value="Бургас") Бургас
                                    option(value="Русе") Русе
                                    option(value="Стара Загора") Стара Загора
                                    option(value="Плевен") Плевен
                                    option(value="Добрич") Добрич 
                                    option(value="Сливен") Сливен 
                                    option(value="Шумен") Шумен
                                    option(value="Перник") Перник
                                    option(value="Пазарджик") Пазарджик
                                    option(value="Ямбол") Ямбол
                                    option(value="Хасково") Хасково
                                    option(value="Благоевград") Благоевград
                                    option(value="Велико Търново") Велико Търново
                                    option(value="Враца") Враца
                                    option(value="Габрово") Габрово
                                    option(value="Асеновград") Асеновград
                                    option(value="Видин") Видин
                                    option(value="0") Другo
                    .form-group(ng-show="user.town==0")
                        .row
                            label.col-md-12(for="town") Въведете името на селището
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="text" required="required" placeholder="Потребителско име" ng-model="user.town1")
                    .form-group
                        .row
                            label.col-md-12(for="username") Потребителско име
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="text" required="required" placeholder="Потребителско име" ng-model="user.username")
                    .form-group
                        .row
                            label.col-md-12(for="password") Парола
                                span.must *
                        .row
                            .col-md-12
                                input.form-control(type="password" id="pw1" name="pw1" ng-model="user.password" ng-required="" placeholder="Парола")
                    .form-group
                        .row
                            label.col-md-12(for="password1") Подвърди паролата
                                span.must *
                        .row
                            .col-md-12
                                 input.form-control(type="password" id="pw2" name="pw2" ng-model="user.password1" ng-required="" pw-check="pw1" placeholder="Повтори паролата")
                                 div.msg-block(ng-show="signUpForm.$error")
                                    span.msg-error(ng-show="signUpForm.pw2.$error.pwmatch" style="color:red")
                                        | Passwords don't match.
                    .row
                        span.must * Всички полета са задължителни
                    .pull-right
                        button.btn.btn-primary(ng-disabled="signUpForm.$invalid" ng-click="signup(user)" style="margin-right:5px") Регистрация
                        a.btn.btn-primary(href="#/") Отмени
