div(ng-controller="CarouselCtrl")
	div.bg-container
			.row
				.col-md-8
					h3.title1 Нека заедно да оправим България!
			.row
				.col-md-8.float-right
					h3.title2 Бъди активен!
	.container
		.row.margin-top
			.col-md-6
				.panel.panel-success
					.panel-heading
						.panel-title.text-center Новини
					.panel-body
						div
							ul.margin-left
								li Община София се присъедини към инициативата
									hr
								li Община Варна се присъедини към инициативата
									hr
			.col-md-6
				.panel.panel-warning
					.panel-heading
						.panel-title.text-center Последни изпратени сигнали
					.panel-body
						ul.margin-left
							li(ng-repeat="s in lastSignals")
								h5.row
									.col-md-12
										p {{s.description}}
								div.row
									.col-md-12
										span {{s.user.firstName}} {{s.user.lastName}}
								hr
		